{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{title}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    {{ something|safe }}
</div>
{% endblock %}

