<!doctype html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<!-- Begin Coding... -->
<container>
    <div class="container" style="float: left; margin: 10px; ">
        <a href="{{ url_for('va.index')}}">Create Another!</a>
        <a href="{{ url_for('va.drop_table')}}">Delete Table!</a>
        <div class="row">
            {% for user in users %}
            <br>{{ user.id }} - {{ user.name }}
            {% endfor %}
        </div>
    </div>
    </div>
</container>
</body>